<template>
  <v-container>
    <h1>Список фильмов</h1>
    <v-card flat>
      <v-card-title>
        <v-spacer />
        <v-text-field
            append-icon="mdi-magnify"
            dense
            hide-details
            label="Искать по любому параметру"
            single-line
            v-model="search"
        />
      </v-card-title>

      <v-data-table
          dense
          :headers="headers"
          :footer-props="{
            'items-per-page-options': [1, 2, 3, 4, 5, -1]
          }"
          :items="films"
          :items-per-page="3"
          :loading="loading"
          :search="search"
      />
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  name: "PeopleList",

  data: () => ({
    films: [],
    search: '',
    headers: [
      { text: 'Номер эпизода', value: 'episode_id'},
      { text: 'Название фильма', value: 'title'},
      { text: 'Режиссер', value: 'director'},
      { text: 'Продюсер', value: 'producer'},
      { text: 'Дата выхода', value: 'release_date'},
    ],
    loading: true
  }),

  beforeMount() {
    this.loading = true;
    axios
        .get('http://swapi.dev/api/films/')
        .then(response => {
          this.films = response.data.results;
        })
        .catch(error => {
          console.log(error);
        })
    .finally(() => {
      this.loading = false;
    })
  }
};
</script>
