<template>
  <v-container class="d-flex justify-center">
    <v-card width="350px" class="ma-2" to="/filmList">
      <v-card-title class="text-center">К списку фильмов</v-card-title>
    </v-card>
    <v-card width="350px" class="ma-2" to="/peopleList">
      <v-card-title>К списку героев</v-card-title>
    </v-card>
    <v-card width="350px" class="ma-2" to="/peopleSearch">
      <v-card-title>Поиск героя по имени</v-card-title>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style>

</style>
