<template>
  <v-container>
    <h1>Список героев</h1>
    <v-card flat>
      <v-card-title>
        <v-spacer />
        <v-text-field
            append-icon="mdi-magnify"
            dense
            hide-details
            label="Искать по любому параметру"
            single-line
            v-model="search"
        />
      </v-card-title>

      <v-data-table
          dense
          hide-default-footer
          :headers="headers"
          :items="people"
          :items-per-page="-1"
          :search="search"
          :loading="loading"
      >
        <template #footer>
          <div class="d-flex justify-end">
            <v-btn outlined color="primary" @click="switchFullMode" v-if="!fullMode" large>
              Загрузить всех
            </v-btn>
            <v-btn outlined color="primary" @click="switchFullMode" v-else large>
              Загрузить по партиям
            </v-btn>
            <v-btn icon @click="fetchPreviousPeople" :disabled="!previousPeople || fullMode" large>
              <v-icon>mdi-skip-previous</v-icon>
            </v-btn>
            <v-btn icon @click="fetchNextPeople" :disabled="!nextPeople || fullMode" large>
              <v-icon>mdi-skip-next</v-icon>
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'
const URL = 'http://swapi.dev/api/people/';

export default {
  name: "PeopleList",

  data: () => ({
    people: [],
    search: '',
    headers: [
      { text: 'Имя', value: 'name'},
      { text: 'Рост', value: 'height'},
      { text: 'Вес', value: 'mass'},
      { text: 'Цвет волос', value: 'hair_color'},
      { text: 'Цвет кожи', value: 'skin_color'},
      { text: 'Пол', value: 'gender'},
      { text: 'Год рождения', value: 'birth_year'}
    ],
    nextPeople: false,
    previousPeople: false,
    fullMode: false,
    loading: true
  }),

  methods: {
    switchFullMode() {
      this.fullMode = !this.fullMode;
      if (!this.fullMode) {
        this.fetchPeople(URL);
      } else {
        this.fetchAllPeople(URL)
      }
    },

    fetchPeople(url) {
      this.loading = true;
      axios
          .get(url)
          .then(response => {
            this.people = response.data.results;
            this.nextPeople = response.data.next
            this.previousPeople = response.data.previous
          })
          .catch(error => {
            console.log(error);
          })
      .finally(() => {
        this.loading = false;
      })
    },

    fetchPreviousPeople() {
      this.fetchPeople(this.previousPeople);

    },
    fetchNextPeople() {
      this.fetchPeople(this.nextPeople);
    },

    fetchAllPeople(url) {
      this.loading = true;
      axios
          .get(url)
          .then(response => {
            this.people = [...this.people, ...response.data.results]
            if (response.data.next) {
              this.fetchAllPeople(response.data.next)
            } else {
              this.loading = false;
            }
          })
          .catch(error => {
            console.log(error);
          })
    }

  },

  beforeMount() {
    this.fetchPeople(URL);
  }
};
</script>
