<template>
  <v-container>
    <v-row justify="center">
      <v-card width="800" class="pa-5">
        <v-text-field v-model="name" class="ma-2" label="Имя"/>
        <v-card-actions>
          <v-spacer />
          <v-btn outlined color="primary" :disabled="!name" @click="findPerson">Искать</v-btn>
        </v-card-actions>
        <v-simple-table v-if="person">
          <template v-slot:default>
            <tbody>
            <tr v-for="[key, value] in Object.entries(person)" :key="key">
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-card flat v-else-if="status">Нет данных</v-card>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "PeopleSearch",
  data: () => ({
    name: 'Luke Skywalker',
    person: null,
    status: false
  }),
  methods: {
    findPerson() {
      this.status = true;
      let url = `https://swapi.dev/api/people/?search=${this.name}`
      axios
          .get(url)
          .then(response => {
            if (response.data.results.length) {
              this.person = response.data.results[0];
              this.readPerson()
            }
            else {
              this.person = null;
            }
          })
          .catch(error => {
            console.log(error);
          })
    },

    readPerson() {
      for (const p in this.person) {
        if (Array.isArray(this.person[p]) && this.person[p].length) {
          const prop = [...this.person[p]];
          this.person[p] = [];
          for (const url of prop) {
            if (this.isLink(url)) {
              this.findInfo(url, p);
            }
          }
        } else {
          if (this.isLink(this.person[p])) {
            this.findInfo(this.person[p], p);
          }
        }
      }
    },

    isLink(str) {
      return (typeof str === 'string' && str.includes('http://swapi.dev'));
    },

    findInfo(url, prop) {
      axios
          .get(url)
          .then(response => {
            let propValue = '';
            if (response.data.name) {
              propValue = response.data.name;
            }
            if (response.data.title) {
              propValue = response.data.title;
            }
            if (Array.isArray(this.person[prop])) {
              this.person[prop].push(propValue)
            } else {
              this.person[prop] = propValue;
            }

          })
          .catch(error => {
            console.log(error);
          })
    }
  }
}
</script>

<style scoped>

</style>