<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title style="width: 300px">
        <router-link to="/" tag="span" class="pointer">
          <v-icon large>mdi-home</v-icon>
        </router-link>
      </v-toolbar-title>

    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: "App",
  data: () => ({
    //
  })
};
</script>

<style>
.pointer {
  cursor: pointer;
}
</style>
